.signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.apple-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 20px 60px;
  margin-top: 20px;
}
